// 1. Import the initial variables
@import 'bulma/sass/utilities/initial-variables';

// 2. Override styles

// 3. Import the rest of Bulma;
@import 'bulma/bulma';

.side_menu {
  width: 150px !important;
  float: left !important;
  height: calc(100vh) !important;
  background: #F2F2F2 !important;
}

.navbar_title {
  color: white
}

.view_container {
  margin: 10px 30px 30px 10px !important;
}

.page_body {
  margin-top: 10px !important;
  max-height: calc(100vh) !important;
  overflow: scroll !important;
}

.page_inner_body {
  margin-left: 40px !important;
}
